header {
  background-color: $green;
  color: $cream;
  min-height: 5vh;
  padding: 5px 0;
  
  .title {
    @include columns(6);
  }
  
  nav {
    @include columns(6);
    text-align: right;
    
    a {
      color: $cream;
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.main {
  min-height: 82vh;
  padding-top: 20px;
}

footer {
  background-color: $blue;
  color: $cream;
  min-height: 5vh;
  padding: 5px 0;
}