<div class="container">
	<h1>Now</h1>

	<p>Earlier this year, we relocated to Nashville, TN. I had lived in MI all my life, and it was a good time to try living somewhere else. So far we're enjoying making new friends, having old friends and family come visit, exploring the city, the parks and the lake, and the nice warm weather (for the most part -- some days the humidity is a little much).</p>

	<p>I'm working as a Ruby on Rails developer for a healthcare company here. Work is going well and I'm learning and getting a lot of good experience.</p>

	<p>I've trained for the Nashville Marathon in April and the Indianapolis Marathon in November. Unfortunately both of these efforts were derailed by sickness and injury, respectively. Instead I'm running half marathons at these events. Kind of disappointing, but that's how running goes sometimes.</p>

	<p>What's coming up? We'll be traveling to Indiana and Michigan at some point during the holidays. Getting ready to enjoy our first winter down south!</p>

	<p>Last updated: 14 Oct 2017</p>
</div>


